In [1]:
import os
os.chdir('../')

In [2]:
from lib.readfile import ReadFile as rf
from lib.handle_null_values import handle_null_values as null
from lib.datetime_formatting import DatetimeFormatting as dfmt
from lib.split_time_variable import split_time_variable as split_t
from lib.correct_variable_types import correct_variable_types as vartype

In [3]:
"""Read the file"""

r= rf()
df= r.read(address="lib/data/2009.csv")

In [4]:
"""Remove column with null values"""

n= null()
variables= n.delete_var_with_null_more_than(df)

In [5]:
"""drop unwanted variables for now"""

df2= df.drop(*variables)

In [6]:
"""select important variables""" 

important_variables=['year_built', 'bedroom_count', 'bathroom_count','lot_size', 'area', 'city_name', 'community_name', 'covered_parking', 'exterior', 'energy_source','fireplaces_count', 'floor_covering', 'garage','heating_cooling','latitude','longitude', 'property_type', 'roof', 'sold_date', 'sold_price','unfinished_sq_foot', 'topography', 'year_built', 'zip_code', 'county' ]

    
important_variables= list(set(important_variables))
df3= df2.select(*important_variables)

In [7]:
"""concatenate all files"""

files= ["09"]
for f_no in range(10, 19):
    files.append(f_no)    
    
    df4= r.read(address="lib/data/20"+str(f_no)+".csv")
    print(f_no)
    df4= df4.select(*important_variables)
    print(f_no)
    df3 = df3.union(df4)

10
10
11
11
12
12
13
13
14
14
15
15
16
16
17
17
18
18

In [8]:
"""filter one county from the dataset"""

df5= df3.filter( df3["county"].isin(["King"]))

In [9]:
"""correct time format"""

f= split_t()

#Assuming time variable is in timestamp type
df6= f.run(df5)

In [10]:
"""Correct variable types"""

v= vartype()

df7= v.run(df6)

In [11]:
df7.limit(100).toPandas()

,city_name,topography,exterior,bedroom_count,longitude,county,garage,community_name,heating_cooling,roof,...,property_type,covered_parking,unfinished_sq_foot,fireplaces_count,latitude,zip_code,lot_size,sold_price,area,energy_source
0,Seattle,Level,Wood,4,-122.315327,King,Garage-Attached,Boulevard Park,Forced Air,Composition,...,Residential,2.0,0.0,2.0,47.497472,98168.0,16640,205000.0,130,Natural Gas
1,Kenmore,,"Stucco,Wood",2,-122.250153,King,,Kenmore,"Baseboard, Wall",Composition,...,Condominium,0.0,0.0,1.0,47.761990,98028.0,0,150000.0,720,NULL
2,Bellevue,None,Cement/Concrete,2,-122.197518,King,None,Downtown,"Central A/C, Forced Air",None,...,Condominium,0.0,0.0,0.0,47.611577,98004.0,0,385000.0,520,Natural Gas
3,Seattle,None,Stucco,2,-122.340968,King,None,Westlake,Forced Air,Flat,...,Condominium,0.0,0.0,0.0,47.638291,98109.0,58389,320000.0,700,Electric
4,Issaquah,None,"Cement Planked, Cement/Concrete, Wood Products",3,-122.031985,King,None,Issaquah,Forced Air,Composition,...,Condominium,0.0,0.0,1.0,47.548283,98029.0,0,350000.0,540,"Electric, Natural Gas"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Sammamish,None,"Metal/Vinyl, Wood",3,-122.030357,King,None,Sammamish,"Central A/C, Forced Air",Composition,...,Condominium,0.0,0.0,1.0,47.618240,98074.0,0,325000.0,540,Natural Gas
96,Seattle,None,"Cement Planked, Wood",3,-122.254470,King,None,Seattle,Forced Air,Composition,...,Condominium,0.0,0.0,1.0,47.486738,98178.0,37428,223500.0,380,Natural Gas
97,Issaquah,None,Metal/Vinyl,1,-122.026761,King,None,Issaquah,"Baseboard, Wall",Composition,...,Condominium,0.0,0.0,1.0,47.549520,98029.0,0,190000.0,540,"Electric, Natural Gas"
98,Seattle,None,Wood,1,-122.304850,King,None,Wedgwood,Baseboard,"Built-Up, Composition",...,Condominium,0.0,0.0,1.0,47.697654,98115.0,0,164250.0,710,Electric
99,Seattle,None,"Metal/Vinyl, Wood",1,-122.311453,King,None,Capitol Hill,"Forced Air, Wall",Composition,...,Condominium,0.0,0.0,0.0,47.617711,98122.0,0,250000.0,390,"Electric, Natural Gas"

In [12]:
"""make training and testing files and save them."""
df_t= df7.filter( df3["sold_date_year"]<2015)
df_tst= df7.filter( df3["sold_date_year"]>=2015)

AnalysisException: 'Cannot resolve column name "sold_date_year" among (city_name, topography, exterior, bedroom_count, longitude, county, garage, community_name, heating_cooling, roof, sold_date, year_built, floor_covering, bathroom_count, property_type, covered_parking, unfinished_sq_foot, fireplaces_count, latitude, zip_code, lot_size, sold_price, area, energy_source);'

In [ ]:
df7.limit(10).show()

In [ ]:
df_train2= df_t.toPandas()

In [ ]:
df_train2.to_csv("lib/data/KING'S_COUNTY_train5.0.csv")

In [14]:
df_train2[-10:]

,property_type,area,bedroom_count,garage,created_date,city_name,topography,year_built,roof,school_district,...,transit_score,unfinished_sq_foot,covered_parking,sold_date_year,sold_date_month,sold_date_day,sold_datedayofweek,sold_datehour,sold_datemin,sold_datesec
209017,Residential,310,3,Garage-Attached,2017-08-09 14:06:07,Auburn,None,1988.0,Cedar Shake,Auburn,...,0.0,0.0,2.0,2010,4,27,3,0,0,0
209018,Residential,140,2,Garage-Attached,2017-08-09 14:06:08,Seattle,Level,1942.0,Composition,Seattle,...,0.0,0.0,1.0,2010,4,23,6,0,0,0
209019,Residential,340,3,Garage-Attached,2017-08-09 14:06:09,Renton,"Garden Space, Level",1978.0,Cedar Shake,Renton,...,0.0,0.0,2.0,2010,4,6,3,0,0,0
209020,Residential,350,3,Garage-Attached,2017-08-09 14:06:09,Renton,None,1969.0,Composition,Renton,...,0.0,0.0,2.0,2010,4,27,3,0,0,0
209021,Residential,390,4,Garage-Attached,2017-08-09 14:06:10,Seattle,None,1981.0,"See Remarks, Tile",Seattle,...,0.0,0.0,2.0,2010,4,27,3,0,0,0
209022,Residential,710,2,Garage-Detached,2017-08-09 14:06:12,Seattle,"Garden Space, Partial Slope, Terraces",1938.0,Composition,Seattle,...,0.0,0.0,1.0,2010,4,27,3,0,0,0
209023,Residential,705,3,Garage-Attached,2017-08-09 14:06:12,Seattle,Level,2004.0,Composition,Seattle,...,0.0,0.0,1.0,2010,4,26,2,0,0,0
209024,Residential,550,4,Garage-Attached,2017-08-09 14:06:12,Redmond,None,1995.0,Composition,Lake Washington,...,0.0,0.0,3.0,2010,4,27,3,0,0,0
209025,Residential,700,1,Garage-Attached,2017-08-09 14:06:12,Seattle,"Garden Space, Level",2008.0,Composition,Seattle,...,0.0,0.0,1.0,2010,4,22,5,0,0,0
209026,Residential,140,2,Garage-Detached,2017-08-09 14:06:13,Seattle,Level,1942.0,Composition,Seattle,...,0.0,0.0,1.0,2010,4,26,2,0,0,0

In [13]:
p=df6.limit(500).toPandas()

numeric_columns= []
columns2= df6.columns # only take string variables

In [14]:
len(list(set(columns2)))

37

In [15]:
p['year_built']
# There is a duplication on the

0      1959
1      1989
2      1995
3      1984
4      2006
       ...
495    2006
496    1968
497    1975
498    2005
499    1975
Name: year_built, Length: 500, dtype: object

In [ ]:
for c in columns2:
    counter= 0
    e=[]
    float_values= []
    print(c)
    for i in range(500):
        try:
            v= float(p[c][i])
            counter= counter+1
            float_values.append(v)
        except:
            print(str(p[c][i]))
            e.append(str(p[c][i]))

    if len(e)==0:
        numeric_columns.append(c)  
    elif len(set(float_values))<5: 
        if len(set(e))<=1 and len(set(float_values))!=0:
            numeric_columns.append(c)  
    elif len(float_values)/500*100 > 95:
            numeric_columns.append(c)

In [16]:
var=find_numeric_variables_saved_as_string(df6)

NameError: name 'find_numeric_variables_saved_as_string' is not defined

In [ ]:
"""treat duplications"""
df6.select('year_built').show()

In [ ]:
# train the deep learning model and put that on the training

def var_types(df7):
    categorical_variables= []
    numerical_variables=[]
    for dt in df7.dtypes:
        if dt[1]=="string":
            categorical_variables.append(dt[0])
        else:
            numerical_variables.append(dt[0])
    return categorical_variables, numerical_variables
        
categorical_variables, numerical_variables= var_types(df7)

In [44]:
"""treat null values using deep learning"""

# add an ID in the dataset
from pyspark.sql import functions as F
from pyspark.sql.window import Window as W
from pyspark import SparkContext
from pyspark.sql import SparkSession
from math import *


spark_context = SparkContext.getOrCreate()
spark = SparkSession(spark_context)

windowSpec = W.orderBy(df7.columns[0])
df7= df7.withColumn("id", F.row_number().over(windowSpec))
df8= df7.createOrReplaceTempView("customer")

#use this ID to filter the data and get results.
base_query = "SELECT * FROM customer where "
total_rows= df7.count()
each_page= 500
total_pages= ceil(total_rows/each_page)

for p in range(total_pages):
    query= base_query + "id > " + str(each_page*p) + " and id< " + str(each_page*(p+1))
    df_spark= spark.sql(query)

    df_pandas= df_spark.toPandas()
    
    #pass this through all the models in the same order and run it.
    
    
    





#save the model for future use.

In [102]:
# train the deep learning model and put that on the training
categorical_variables= []
numerical_variables=[]
for dt in df7.dtypes:
    if dt[1]=="string":
        categorical_variables.append(dt[0])
    else:
        numerical_variables.append(dt[0])

In [13]:
df_train2= df7.toPandas()

In [78]:
df_train2

,address,unfinished_sq_foot,longitude,covered_parking,topography,sewer,energy_source,school_district,bike_score,sold_price,...,transit_score,latitude,sold_date_year,sold_date_month,sold_date_day,sold_datedayofweek,sold_datehour,sold_datemin,sold_datesec,id
0,"""4803 """"O"""" Ct NE""",0.0,-122.213993,2.0,None,G,Natural Gas,Auburn,0.0,250900.0,...,0.0,47.320628,2011,3,30,4,0,0,0,1
1,"""4803 """"O"""" Ct NE""",0.0,-122.213993,2.0,None,G,Natural Gas,Auburn,0.0,250900.0,...,0.0,47.320628,2011,3,30,4,0,0,0,2
2,"""4803 """"O"""" Ct NE""",0.0,-122.213993,2.0,None,G,Natural Gas,Auburn,0.0,250900.0,...,0.0,47.320628,2011,3,30,4,0,0,0,3
3,"""4803 """"O"""" Ct NE""",0.0,-122.213993,2.0,None,G,Natural Gas,Auburn,0.0,250900.0,...,0.0,47.320628,2011,3,30,4,0,0,0,4
4,"""4803 """"O"""" Ct NE""",0.0,-122.213993,2.0,None,G,Natural Gas,Auburn,0.0,250900.0,...,0.0,47.320628,2011,3,30,4,0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209022,9981 Avondale Rd NE,0.0,-122.093338,0.0,None,None,Natural Gas,Lake Washington,0.0,270000.0,...,0.0,47.688652,2010,3,8,2,0,0,0,209023
209023,9981 Avondale Rd NE,0.0,-122.093338,0.0,None,None,Natural Gas,Lake Washington,0.0,270000.0,...,0.0,47.688652,2010,3,8,2,0,0,0,209024
209024,9981 Avondale Rd NE,0.0,-122.093338,0.0,None,None,Natural Gas,Lake Washington,0.0,270000.0,...,0.0,47.688652,2010,3,8,2,0,0,0,209025
209025,9981 Avondale Rd NE,0.0,-122.093338,0.0,None,None,Natural Gas,Lake Washington,0.0,270000.0,...,0.0,47.688652,2010,3,8,2,0,0,0,209026
209026,9986 SE 304th Ct,0.0,-122.208259,2.0,Level,G,Natural Gas,Auburn,0.0,489000.0,...,0.0,47.329530,2009,7,24,6,0,0,0,209027

In [65]:
import datawig
#Initialize a SimpleImputer model
df_train = df7.limit(10000).toPandas()

In [14]:
count= 209027
train_df= df_train2[int(count*.25):int(count*.5)]
test_df= df_train2[int(count*.5):]

In [ ]:
import datawig
results= {}
models={}

for c in categorical_variables: 
    var= categorical_variables.copy()
    var.remove(c)
    imputer = datawig.SimpleImputer(
        input_columns=var, # column(s) containing information about the column we want to impute
        output_column=c, # the column we'd like to impute values for
        output_path = 'lib/imputer_models2/'+str(c) # stores model data and metrics
        )
    imputer.fit(train_df=train_df, num_epochs=5)
    models[c]= imputer
    #time to test the model with entire file.  
    
#     results[c] = imputer.predict(df_pandas)

2019-10-09 11:10:52,141 [INFO]
========== start: fit model
2019-10-09 11:10:52,142 [WARNING]  Already bound, ignoring bind()
2019-10-09 11:11:16,251 [INFO]  Epoch[0] Batch [0-994]	Speed: 662.01 samples/sec	cross-entropy=3.143252	community_name-accuracy=0.277952
2019-10-09 11:11:49,670 [INFO]  Epoch[0] Train-cross-entropy=2.153869
2019-10-09 11:11:49,672 [INFO]  Epoch[0] Train-community_name-accuracy=0.442535
2019-10-09 11:11:49,672 [INFO]  Epoch[0] Time cost=57.528
2019-10-09 11:11:49,789 [INFO]  Saved checkpoint to "lib/imputer_models2/community_name/model-0000.params"
2019-10-09 11:11:51,275 [INFO]  Epoch[0] Validation-cross-entropy=1.945110
2019-10-09 11:11:51,276 [INFO]  Epoch[0] Validation-community_name-accuracy=0.460331
2019-10-09 11:12:24,046 [INFO]  Epoch[1] Batch [0-994]	Speed: 485.48 samples/sec	cross-entropy=1.788176	community_name-accuracy=0.484108
2019-10-09 11:12:51,339 [INFO]  Epoch[1] Train-cross-entropy=1.659423
2019-10-09 11:12:51,340 [INFO]  Epoch[1] Train-community_name-accuracy=0.499056
2019-10-09 11:12:51,342 [INFO]  Epoch[1] Time cost=60.065
2019-10-09 11:12:51,430 [INFO]  Saved checkpoint to "lib/imputer_models2/community_name/model-0001.params"
2019-10-09 11:12:52,872 [INFO]  Epoch[1] Validation-cross-entropy=1.644263
2019-10-09 11:12:52,880 [INFO]  Epoch[1] Validation-community_name-accuracy=0.496575
2019-10-09 11:13:29,109 [INFO]  Epoch[2] Batch [0-994]	Speed: 439.12 samples/sec	cross-entropy=1.546179	community_name-accuracy=0.523995
2019-10-09 11:14:12,397 [INFO]  Epoch[2] Train-cross-entropy=1.497159
2019-10-09 11:14:12,399 [INFO]  Epoch[2] Train-community_name-accuracy=0.529582
2019-10-09 11:14:12,401 [INFO]  Epoch[2] Time cost=79.520
2019-10-09 11:14:12,544 [INFO]  Saved checkpoint to "lib/imputer_models2/community_name/model-0002.params"
2019-10-09 11:14:15,326 [INFO]  Epoch[2] Validation-cross-entropy=1.531195
2019-10-09 11:14:15,327 [INFO]  Epoch[2] Validation-community_name-accuracy=0.518836
2019-10-09 11:14:50,412 [INFO]  Epoch[3] Batch [0-994]	Speed: 453.48 samples/sec	cross-entropy=1.432597	community_name-accuracy=0.548053
2019-10-09 11:15:27,818 [INFO]  Epoch[3] Train-cross-entropy=1.402488
2019-10-09 11:15:27,823 [INFO]  Epoch[3] Train-community_name-accuracy=0.553877
2019-10-09 11:15:27,825 [INFO]  Epoch[3] Time cost=72.493
2019-10-09 11:15:27,983 [INFO]  Saved checkpoint to "lib/imputer_models2/community_name/model-0003.params"
2019-10-09 11:15:29,577 [INFO]  Epoch[3] Validation-cross-entropy=1.464797
2019-10-09 11:15:29,578 [INFO]  Epoch[3] Validation-community_name-accuracy=0.532820
2019-10-09 11:16:05,007 [INFO]  Epoch[4] Batch [0-994]	Speed: 449.03 samples/sec	cross-entropy=1.357463	community_name-accuracy=0.567965
2019-10-09 11:16:33,214 [INFO]  Epoch[4] Train-cross-entropy=1.334579
2019-10-09 11:16:33,216 [INFO]  Epoch[4] Train-community_name-accuracy=0.575214
2019-10-09 11:16:33,217 [INFO]  Epoch[4] Time cost=63.638
2019-10-09 11:16:33,324 [INFO]  Saved checkpoint to "lib/imputer_models2/community_name/model-0004.params"
2019-10-09 11:16:34,752 [INFO]  Epoch[4] Validation-cross-entropy=1.417668
2019-10-09 11:16:34,753 [INFO]  Epoch[4] Validation-community_name-accuracy=0.542237
2019-10-09 11:16:34,755 [INFO]
========== done (342.6148762702942 s) fit model
/Users/muddassarsharif/anaconda3/envs/conda1/lib/python3.6/site-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
/Users/muddassarsharif/anaconda3/envs/conda1/lib/python3.6/site-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
2019-10-09 11:16:46,452 [INFO]  CategoricalEncoder for column school_district                                found only 83 occurrences of value Closing
2019-10-09 11:16:46,453 [INFO]  CategoricalEncoder for column school_district                                found only 52 occurrences of value PSE
2019-10-09 11:16:46,454 [INFO]  CategoricalEncoder for column school_district                                found only 48 occurrences of value Fife
2019-10-09 11:16:46,455 [INFO]  CategoricalEncoder for column school_district                                found only 41 occurrences of value Highland
2019-10-09 11:16:46,458 [INFO]  CategoricalEncoder for column school_district                                found only 28 occurrences of value Skykomish
2019-10-09 11:16:46,459 [INFO]  CategoricalEncoder for column school_district                                found only 26 occurrences of value Bellingham
2019-10-09 11:16:46,461 [INFO]  CategoricalEncoder for column school_district                                found only 20 occurrences of value Negotiable
2019-10-09 11:16:46,463 [INFO]  CategoricalEncoder for column school_district                                found only 19 occurrences of value Cedar Shake
2019-10-09 11:16:46,464 [INFO]  CategoricalEncoder for column school_district                                found only 16 occurrences of value Other
2019-10-09 11:16:46,470 [INFO]  CategoricalEncoder for column school_district                                found only 13 occurrences of value None
2019-10-09 11:16:46,473 [INFO]  CategoricalEncoder for column school_district                                found only 13 occurrences of value Torch Down
2019-10-09 11:16:46,474 [INFO]  CategoricalEncoder for column school_district                                found only 13 occurrences of value Snohomish
2019-10-09 11:16:46,475 [INFO]  CategoricalEncoder for column school_district                                found only 13 occurrences of value 0.00
2019-10-09 11:16:46,478 [INFO]  CategoricalEncoder for column school_district                                found only 11 occurrences of value See Remarks
2019-10-09 11:16:46,479 [INFO]  CategoricalEncoder for column school_district                                found only 10 occurrences of value N
2019-10-09 11:16:46,480 [INFO]  CategoricalEncoder for column school_district                                found only 9 occurrences of value Garden Space, Level
2019-10-09 11:16:46,486 [INFO]  CategoricalEncoder for column school_district                                found only 8 occurrences of value Rainier
2019-10-09 11:16:46,492 [INFO]  CategoricalEncoder for column school_district                                found only 8 occurrences of value Seattle City Light
2019-10-09 11:16:46,494 [INFO]  CategoricalEncoder for column school_district                                found only 8 occurrences of value Tacoma
2019-10-09 11:16:46,496 [INFO]  CategoricalEncoder for column school_district                                found only 6 occurrences of value Tile
2019-10-09 11:16:46,497 [INFO]  CategoricalEncoder for column school_district                                found only 6 occurrences of value Edmonds
2019-10-09 11:16:46,499 [INFO]  CategoricalEncoder for column school_district                                found only 6 occurrences of value 279990.00
2019-10-09 11:16:46,500 [INFO]  CategoricalEncoder for column school_district                                found only 5 occurrences of value Puget Sound Energy
2019-10-09 11:16:46,508 [INFO]  CategoricalEncoder for column school_district                                found only 5 occurrences of value Flat
2019-10-09 11:16:46,510 [INFO]  CategoricalEncoder for column school_district                                found only 5 occurrences of value City Light
2019-10-09 11:16:46,513 [INFO]  CategoricalEncoder for column school_district                                found only 5 occurrences of value Taholah
2019-10-09 11:16:46,514 [INFO]  CategoricalEncoder for column school_district                                found only 5 occurrences of value Metal
2019-10-09 11:16:46,516 [INFO]  CategoricalEncoder for column school_district                                found only 4 occurrences of value Dieringer
2019-10-09 11:16:46,517 [INFO]  CategoricalEncoder for column school_district                                found only 3 occurrences of value 379990.00
2019-10-09 11:16:46,518 [INFO]  CategoricalEncoder for column school_district                                found only 3 occurrences of value 434990.00
2019-10-09 11:16:46,520 [INFO]  CategoricalEncoder for column school_district                                found only 3 occurrences of value 349950.00
2019-10-09 11:16:46,521 [INFO]  CategoricalEncoder for column school_district                                found only 3 occurrences of value White River
2019-10-09 11:16:46,523 [INFO]  CategoricalEncoder for column school_district                                found only 3 occurrences of value 524950.00
2019-10-09 11:16:46,524 [INFO]  CategoricalEncoder for column school_district                                found only 3 occurrences of value 636.00
2019-10-09 11:16:46,528 [INFO]  CategoricalEncoder for column school_district                                found only 3 occurrences of value 599000.00
2019-10-09 11:16:46,529 [INFO]  CategoricalEncoder for column school_district                                found only 3 occurrences of value 429950.00
2019-10-09 11:16:46,530 [INFO]  CategoricalEncoder for column school_district                                found only 3 occurrences of value 409000.00
2019-10-09 11:16:46,532 [INFO]  CategoricalEncoder for column school_district                                found only 3 occurrences of value See Remarks, Tile
2019-10-09 11:16:46,539 [INFO]  CategoricalEncoder for column school_district                                found only 3 occurrences of value Evergreen
2019-10-09 11:16:46,540 [INFO]  CategoricalEncoder for column school_district                                found only 3 occurrences of value Kahlotus
2019-10-09 11:16:46,542 [INFO]  CategoricalEncoder for column school_district                                found only 3 occurrences of value 885000.00
2019-10-09 11:16:46,543 [INFO]  CategoricalEncoder for column school_district                                found only 3 occurrences of value Riverside
2019-10-09 11:16:46,544 [INFO]  CategoricalEncoder for column school_district                                found only 3 occurrences of value Negotiable, See Remarks
2019-10-09 11:16:46,546 [INFO]  CategoricalEncoder for column school_district                                found only 3 occurrences of value 626200.00
2019-10-09 11:16:46,548 [INFO]  CategoricalEncoder for column school_district                                found only 3 occurrences of value 354990.00
2019-10-09 11:16:46,550 [INFO]  CategoricalEncoder for column school_district                                found only 3 occurrences of value Carbonado
2019-10-09 11:16:46,551 [INFO]  CategoricalEncoder for column school_district                                found only 3 occurrences of value 1149000.00
2019-10-09 11:16:46,552 [INFO]  CategoricalEncoder for column school_district                                found only 3 occurrences of value 509000.00
2019-10-09 11:16:46,553 [INFO]  CategoricalEncoder for column school_district                                found only 3 occurrences of value 1924
2019-10-09 11:16:46,556 [INFO]  CategoricalEncoder for column school_district                                found only 3 occurrences of value Flat, Metal
2019-10-09 11:16:46,557 [INFO]  CategoricalEncoder for column school_district                                found only 3 occurrences of value 599900.00
2019-10-09 11:16:46,559 [INFO]  CategoricalEncoder for column school_district                                found only 3 occurrences of value 416.00
2019-10-09 11:16:46,560 [INFO]  CategoricalEncoder for column school_district                                found only 3 occurrences of value Public
2019-10-09 11:16:46,562 [INFO]  CategoricalEncoder for column school_district                                found only 3 occurrences of value 174990.00
2019-10-09 11:16:46,563 [INFO]  CategoricalEncoder for column school_district                                found only 3 occurrences of value 973500.00
2019-10-09 11:16:46,566 [INFO]  CategoricalEncoder for column school_district                                found only 3 occurrences of value Sumner
2019-10-09 11:16:46,567 [INFO]  CategoricalEncoder for column school_district                                found only 3 occurrences of value Cedar River
2019-10-09 11:16:46,569 [INFO]  CategoricalEncoder for column school_district                                found only 3 occurrences of value Fruit Trees, Garden Space, Level
2019-10-09 11:16:46,571 [INFO]  CategoricalEncoder for column school_district                                found only 3 occurrences of value 374950.00
2019-10-09 11:16:46,573 [INFO]  CategoricalEncoder for column school_district                                found only 2 occurrences of value Composition, See Remarks
2019-10-09 11:16:46,574 [INFO]  CategoricalEncoder for column school_district                                found only 2 occurrences of value 0
2019-10-09 11:16:46,580 [INFO]  CategoricalEncoder for column school_district                                found only 2 occurrences of value 319990.00
2019-10-09 11:16:46,581 [INFO]  CategoricalEncoder for column school_district                                found only 2 occurrences of value 195000.00
2019-10-09 11:16:46,582 [INFO]  CategoricalEncoder for column school_district                                found only 2 occurrences of value Level
2019-10-09 11:16:46,583 [INFO]  CategoricalEncoder for column school_district                                found only 2 occurrences of value Ferndale
2019-10-09 11:16:46,584 [INFO]  CategoricalEncoder for column school_district                                found only 2 occurrences of value 209990.00
2019-10-09 11:16:46,585 [INFO]  CategoricalEncoder for column school_district                                found only 2 occurrences of value San Juan Island
2019-10-09 11:16:46,586 [INFO]  CategoricalEncoder for column school_district                                found only 2 occurrences of value 219500.00
2019-10-09 11:16:46,587 [INFO]  CategoricalEncoder for column school_district                                found only 2 occurrences of value 1925000.00
2019-10-09 11:16:46,589 [INFO]  CategoricalEncoder for column school_district                                found only 2 occurrences of value 289000.00
2019-10-09 11:16:46,590 [INFO]  CategoricalEncoder for column school_district                                found only 2 occurrences of value PSe
2019-10-09 11:16:46,592 [INFO]  CategoricalEncoder for column school_district                                found only 2 occurrences of value 589950.00
2019-10-09 11:16:46,594 [INFO]  CategoricalEncoder for column school_district                                found only 2 occurrences of value 280900.00
2019-10-09 11:16:46,595 [INFO]  CategoricalEncoder for column school_district                                found only 2 occurrences of value Mount Baker
2019-10-09 11:16:46,596 [INFO]  CategoricalEncoder for column school_district                                found only 2 occurrences of value 379000.00
2019-10-09 11:16:46,597 [INFO]  CategoricalEncoder for column school_district                                found only 2 occurrences of value 596.00
2019-10-09 11:16:46,598 [INFO]  CategoricalEncoder for column school_district                                found only 2 occurrences of value 898888.00
2019-10-09 11:16:46,600 [INFO]  CategoricalEncoder for column school_district                                found only 2 occurrences of value Sloped
2019-10-09 11:16:46,601 [INFO]  CategoricalEncoder for column school_district                                found only 2 occurrences of value  Closing

In [72]:
results=imputer.predict(df_pandas)

In [74]:
results.to_csv("lib/clean.csv")

In [ ]:
df7.select('address').show

In [ ]:
"""encode categorical variables."""

In [ ]:
"""split data in to training and testing dataset"""

In [ ]:
p=df.limit(500).toPandas()

In [ ]:
p["ml_number"][1]

In [15]:
#Run h2o library offfline

In [19]:
import h2o
from h2o.automl import H2OAutoML
import pandas as pd

In [29]:
# d1= pd.read_csv("lib/data/king_train.csv", encoding = 'utf-8')
# d2= pd.read_csv("lib/data/king_test.csv", encoding = 'utf-8')
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: java version "1.8.0_191"; Java(TM) SE Runtime Environment (build 1.8.0_191-b12); Java HotSpot(TM) 64-Bit Server VM (build 25.191-b12, mixed mode)
  Starting server from /Users/muddassarsharif/anaconda3/envs/conda1/lib/python3.6/site-packages/h2o/backend/bin/h2o.jar
  Ice root: /var/folders/2h/ylrmltv95sd1_w40dsmy51m00000gn/T/tmpcjhg43s_
  JVM stdout: /var/folders/2h/ylrmltv95sd1_w40dsmy51m00000gn/T/tmpcjhg43s_/h2o_muddassarsharif_started_from_python.out
  JVM stderr: /var/folders/2h/ylrmltv95sd1_w40dsmy51m00000gn/T/tmpcjhg43s_/h2o_muddassarsharif_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------------------------------------------
H2O cluster uptime:         02 secs
H2O cluster timezone:       America/New_York
H2O data parsing timezone:  UTC
H2O cluster version:        3.26.0.6
H2O cluster version age:    7 days, 13 hours and 53 minutes
H2O cluster name:           H2O_from_python_muddassarsharif_l2tzbd
H2O cluster total nodes:    1
H2O cluster free memory:    1.778 Gb
H2O cluster total cores:    4
H2O cluster allowed cores:  4
H2O cluster status:         accepting new members, healthy
H2O connection url:         http://127.0.0.1:54321
H2O connection proxy:
H2O internal security:      False
H2O API Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python version:             3.6.9 final
--------------------------  ------------------------------------------------------------------

In [113]:
train = h2o.import_file("lib/data/king_train3.0.csv")
test = h2o.import_file("lib/data/king_test3.0.csv")

Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%

In [114]:
# Identify predictors and response
x = train.columns
y = 'sold_price'
x.remove(y)

In [115]:
# Run AutoML for 20 base models (limited to 1 hour max runtime by default)
aml = H2OAutoML(max_models=10, seed=100)
aml.train(x=x, y=y, training_frame=train)

AutoML progress: |████████████████████████████████████████████████████████| 100%

In [116]:
preds = aml.leader.predict(test)

xgboost prediction progress: |████████████████████████████████████████████| 100%

/Users/muddassarsharif/anaconda3/envs/conda1/lib/python3.6/site-packages/h2o/job.py:70: UserWarning: Test/Validation dataset column 'was_flip_imputed' has levels not trained on: [8/2/2012 0:00]
  warnings.warn(w)

In [117]:
p= preds.as_data_frame()

In [130]:
lst_p = list(np.array(p['predict']))
lst_a = list(np.array(test.as_data_frame()['sold_price']))

new_lst = []
mape= []
for i in range(len(lst_p)):
    mape.append(float(abs(lst_p[i]-lst_a[i])/lst_a[i]))
    new_lst.append(float(lst_p[i]))

In [131]:
re= test.as_data_frame()

In [132]:
re["sold_price_predict"]= new_lst
re["APE"]= mape

In [133]:
re.to_csv("lib/data/POC-draft3.1.csv")

In [122]:
model_path = h2o.save_model(model=aml.leader, path="lib/data/mymodel3.0", force=True)

In [ ]:
#read the file.

fn1= pd.read_csv("lib/data/final_data.csv", encoding = 'utf-8')

In [108]:
#view all the collumns
colm= fn1.columns

#make a list of all the categorical columns. 
no_n=[ 'Unnamed: 0', 'sewer', 'address', 'created_date', 'sold_datehour', 'sold_datemin', 'sold_datesec' ]   

#delete all unnecessary columns, including the one that make no senese.
for cv in categorical_variables:
    no_n.append(cv+'_imputed_proba')
    no_n.append(cv)
    
fn2= fn1.drop(no_n, axis=1)

In [112]:
#make train and trest file 
tr1= fn2[fn2.sold_date_year< 2013]
tr2= fn2[fn2.sold_date_year>= 2013]

#save the file and run the model.
tr1.to_csv("lib/data/king_train3.0.csv")
tr2.to_csv("lib/data/king_test3.0.csv")

In [126]:
aml.leader

Model Details
=============
H2OXGBoostEstimator :  XGBoost
Model Key:  XGBoost_1_AutoML_20191010_114051


Model Summary:

     number_of_trees
0              166.0

ModelMetricsRegression: xgboost
** Reported on train data. **

MSE: 5412782969.180901
RMSE: 73571.61795951548
MAE: 47619.186698150166
RMSLE: 0.18206461188304052
Mean Residual Deviance: 5412782969.180901

ModelMetricsRegression: xgboost
** Reported on cross-validation data. **

MSE: 51771826532.961716
RMSE: 227534.231562993
MAE: 84206.09187786179
RMSLE: 0.2618846020084745
Mean Residual Deviance: 51771826532.961716

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid
0,mae,84206.09,3271.1707,86922.92,81333.84,88513.32,82142.664,82117.72
1,mean_residual_deviance,5.1771953E10,2.92360868E10,4.383191E10,3.30569974E10,1.03616528E11,3.9717253E10,3.8637081E10
2,mse,5.1771953E10,2.92360868E10,4.383191E10,3.30569974E10,1.03616528E11,3.9717253E10,3.8637081E10
3,r2,0.6613341,0.055395875,0.68199027,0.67748487,0.56335485,0.6842938,0.69954675
4,residual_deviance,5.1771953E10,2.92360868E10,4.383191E10,3.30569974E10,1.03616528E11,3.9717253E10,3.8637081E10
5,rmse,221785.36,56824.367,209360.72,181815.83,321895.22,199291.88,196563.17
6,rmsle,0.26156583,0.01444027,0.2851953,0.25485155,0.25314474,0.2651821,0.2494555

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_mae,training_deviance
0,,2019-10-10 12:12:21,31 min 29.913 sec,0.0,573587.617543,427246.601412,3.290028e+11
1,,2019-10-10 12:12:25,31 min 34.301 sec,5.0,460079.819430,331246.898265,2.116734e+11
2,,2019-10-10 12:12:29,31 min 38.495 sec,10.0,372750.828014,256944.869008,1.389432e+11
3,,2019-10-10 12:12:33,31 min 42.615 sec,15.0,305756.695149,200006.327050,9.348716e+10
4,,2019-10-10 12:12:37,31 min 46.554 sec,20.0,254337.491618,157385.961131,6.468756e+10
5,,2019-10-10 12:12:41,31 min 50.649 sec,25.0,215042.209433,126526.513321,4.624315e+10
6,,2019-10-10 12:12:46,31 min 54.667 sec,30.0,184950.454207,105029.110829,3.420667e+10
7,,2019-10-10 12:12:50,31 min 59.082 sec,35.0,162047.057844,90204.767611,2.625925e+10
8,,2019-10-10 12:12:54,32 min 3.528 sec,40.0,144508.719758,80268.421292,2.088277e+10
9,,2019-10-10 12:12:59,32 min 7.748 sec,45.0,130925.706575,73453.513780,1.714154e+10
10,,2019-10-10 12:13:03,32 min 12.214 sec,50.0,120739.954866,68689.543771,1.457814e+10
11,,2019-10-10 12:13:07,32 min 16.565 sec,55.0,112989.467826,65307.308595,1.276662e+10
12,,2019-10-10 12:13:12,32 min 21.220 sec,60.0,106606.531012,62714.770004,1.136495e+10
13,,2019-10-10 12:13:16,32 min 25.516 sec,65.0,102114.141297,60843.925090,1.042730e+10
14,,2019-10-10 12:13:21,32 min 29.898 sec,70.0,98012.729878,59216.815691,9.606495e+09
15,,2019-10-10 12:13:25,32 min 34.511 sec,75.0,94776.141520,57962.036534,8.982517e+09
16,,2019-10-10 12:13:30,32 min 39.203 sec,80.0,91947.514695,56753.824622,8.454345e+09
17,,2019-10-10 12:13:35,32 min 44.045 sec,85.0,89854.266805,55889.203915,8.073789e+09
18,,2019-10-10 12:13:40,32 min 48.861 sec,90.0,88071.411562,55094.506071,7.756574e+09
19,,2019-10-10 12:13:44,32 min 53.529 sec,95.0,86466.734081,54323.445366,7.476496e+09

See the whole table with table.as_data_frame()

Variable Importances:

,variable,relative_importance,scaled_importance,percentage
0,bathroom_count,4.039431e+16,1.000000,0.218112
1,fireplaces_count,1.443581e+16,0.357372,0.077947
2,latitude,1.425594e+16,0.352920,0.076976
3,area,1.156863e+16,0.286393,0.062466
4,longitude,9.430522e+15,0.233462,0.050921
5,lot_size,9.037170e+15,0.223724,0.048797
6,"floor_covering_imputed.CeramicTile,Fir/Softwood,Hardwood,Vinyl,Wal...",8.232490e+15,0.203803,0.044452
7,year_built,6.966130e+15,0.172453,0.037614
8,"energy_source_imputed.NaturalGas,Solar(Unspecified)",5.299851e+15,0.131203,0.028617
9,bedroom_count,3.728186e+15,0.092295,0.020131
10,covered_parking,3.522085e+15,0.087193,0.019018
11,zip_code,2.139742e+15,0.052971,0.011554
12,city_name_imputed.HuntsPoint,1.954691e+15,0.048390,0.010554
13,"floor_covering_imputed.CeramicTile,Hardwood,WalltoWallCarpet",1.938248e+15,0.047983,0.010466
14,roof_imputed.Tile,1.930695e+15,0.047796,0.010425
15,address_imputed_proba,1.901905e+15,0.047083,0.010269
16,exterior_imputed.Stucco,1.896608e+15,0.046952,0.010241
17,"floor_covering_imputed.Hardwood,SeeRemarks,WalltoWallCarpet",1.781583e+15,0.044105,0.009620
18,"heating_cooling_imputed.CentralA/C,ForcedAir,Radiant",1.649463e+15,0.040834,0.008906
19,energy_source_imputed.Electric,1.246208e+15,0.030851,0.006729

See the whole table with table.as_data_frame()

In [127]:
#read the file.

fn1= pd.read_csv("lib/data/king.csv", encoding = 'utf-8')

1