In [1]:
import os
os.chdir('../')

In [2]:
from lib.readfile import ReadFile as rf
from lib.handle_null_values import handle_null_values as null
from lib.datetime_formatting import DatetimeFormatting as dfmt
from lib.split_time_variable import split_time_variable as split_t
from lib.correct_variable_types import correct_variable_types as vartype

In [3]:
"""Read the file"""

r= rf()
df= r.read(address="lib/vinod/2009.csv")

In [4]:
"""Remove column with null values"""

n= null()
variables= n.delete_var_with_null_more_than(df)

In [5]:
"""drop unwanted variables for now"""

df2= df.drop(*variables)

In [6]:
"""select important variables""" 


important_variables=['year_built', 'bedroom_count', 'bathroom_count','lot_size', 'area', 'address', 'bike_score', 'city_name', 'community_name', 'covered_parking', 'created_date', 'exterior', 'energy_source','fireplaces_count', 'floor_covering', 'garage','heating_cooling','latitude','longitude', 'property_type', 'roof', 'school_district',  'sewer', 'sold_date', 'sold_price','unfinished_sq_foot', 'topography', 'transit_score', 'was_flip', 'year_built', 'zip_code', 'county' ]

    
important_variables= list(set(important_variables))
df3= df2.select(*important_variables)

In [18]:
"""concatenate all files"""

files= ["09"]
for f_no in range(10, 20):
    files.append(f_no)    
    
    df4= r.read(address="lib/vinod/20"+str(10)+".csv")
    df4= df4.select(*important_variables)
    df3 = df3.union(df4)

In [19]:
"""filter one county from the dataset"""

df5= df3.filter( df3["county"].isin(["King"]))

In [20]:
"""correct time format"""

f= split_t()

#Assuming time variable is in timestamp type
df6= f.run(df5)

In [21]:
"""Correct variable types"""

v= vartype()

df7= v.run(df6)

In [22]:
"""treat duplications"""

'treat duplications'

In [29]:
"""treat null values using deep learning"""

# add an ID in the dataset
from pyspark.sql import functions as F
from pyspark.sql.window import Window as W

windowSpec = W.orderBy(df7.columns[0])
df7= df7.withColumn("id", F.row_number().over(windowSpec))

#use this ID to filter the data and get results.

#save the model for future use.

In [24]:
"""encode categorical variables."""

'encode categorical variables.'

In [25]:
"""split data in to training and testing dataset"""

'split data in to training and testing dataset'

In [26]:
p=df.limit(500).toPandas()

In [27]:
p["ml_number"][1]

29001554