In [1]:
import os
import findspark
os.chdir('../')

In [4]:
import findspark
findspark.init()

In [9]:
from lib.readfile import ReadFile as rf
from lib.handle_null_values import handle_null_values as null
from lib.datetime_formatting import DatetimeFormatting_v2 as dfmt
from lib.duplication import Duplication as dup

In [10]:
"""Read the file"""

r= rf()
df= r.read(address="lib/vinod/2009.csv")

In [19]:
""" Fetch automatically columns containing urd"""
col_list = dup().fetch_columns_containing_url(df)

In [21]:
""" currently no columns containing url"""
col_list

[]

In [41]:
"""pass the list of urls to remove duplicates url"""
res_df = dup().remove_duplicate_urls(df,col_list,base_url='')
res_df.limit(100).toPandas()

### currently there are no url columns

,id,ml_number,mls_created_date,mls_updated_date,status,status_before_removed,property_type,list_date,sold_date,list_price,...,matrix_modified_dt,last_upload_date,is_comp,was_flip,previous_sale_ml_number,previous_sale_date,previous_sale_price,fetched_for_cma,cron_id,record_status
0,1702541,29104591,2009-07-21,2017-01-12 13:58:56,Sold,NULL,Residential,2009-07-21,2010-06-28,215500.0,...,2018-03-12 08:00:23,0000-00-00 00:00:00,0,N,0,0000-00-00,0.00,N,243655,N
1,1719255,29001554,2009-01-02,NULL,Sold,NULL,Condominium,2009-01-02,2010-04-30,150000.0,...,2018-07-03 06:23:50,0000-00-00 00:00:00,NULL,N,0,0000-00-00,0.00,N,NULL,A
2,1719257,29002134,2009-01-01,2010-01-12 16:09:00,Sold,NULL,Condominium,2009-01-01,2010-01-08,435000.0,...,2018-07-03 06:23:50,0000-00-00 00:00:00,0,N,29075344,2009-11-16,0.00,N,84248,A
3,1719261,29004320,2009-01-07,2010-04-22 12:21:43,Sold,NULL,Condominium,2009-01-07,2010-04-21,370500.0,...,2018-07-03 06:23:50,0000-00-00 00:00:00,0,N,0,0000-00-00,0.00,N,84248,A
4,1719263,29006588,2009-01-12,2010-02-12 13:55:36,Sold,NULL,Condominium,2009-01-12,2009-12-04,429000.0,...,2018-07-03 06:23:50,0000-00-00 00:00:00,0,N,29045634,2009-10-19,0.00,N,84248,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1719455,29077013,2009-05-31,2010-01-06 16:35:00,Sold,NULL,Condominium,2009-05-31,2010-01-06,349400.0,...,2018-07-03 06:23:50,0000-00-00 00:00:00,0,N,0,0000-00-00,0.00,N,84248,A
96,1719457,29078016,2009-05-29,2010-04-24 12:35:37,Sold,NULL,Condominium,2009-05-29,2010-04-23,230000.0,...,2018-07-03 06:23:50,0000-00-00 00:00:00,0,N,29076300,2010-04-23,0.00,N,84248,A
97,1719459,29077872,2009-06-02,2010-01-28 20:15:38,Sold,NULL,Condominium,2009-06-02,2010-01-28,195000.0,...,2018-07-03 06:23:50,0000-00-00 00:00:00,0,N,0,0000-00-00,0.00,N,84248,A
98,1719461,29077860,2009-06-01,2010-01-21 08:55:00,Sold,NULL,Condominium,2009-06-01,2010-01-19,165000.0,...,2018-07-05 13:36:04,0000-00-00 00:00:00,0,N,0,0000-00-00,0.00,N,84248,A
99,1719463,29079113,2009-06-03,2010-04-26 15:05:39,Sold,NULL,Condominium,2009-06-03,2010-02-12,269950.0,...,2018-07-03 06:23:50,0000-00-00 00:00:00,0,N,0,0000-00-00,0.00,N,84248,A

In [44]:
""" Remove all the columns which contains nan exceeding the threshold """
# threshold is considered as percent
print("total columns",len(df.columns))
res_df = dup().remove_columns_containing_all_nan_values(df,threshold=75)
print("only valid columns",len(res_df.columns))
print("columns contains null more than 75pct",len(df.columns)-len(res_df.columns))

total columns 395
only valid columns 350
columns contains null more than 75pct 45

In [46]:
""" remove columns which contains same value in all rows """
print("total columns",len(df.columns))
res_df = dup().remove_columns_contains_same_value(df)
print("only valid columns",len(res_df.columns))

total columns 395
only valid columns 347

In [47]:
res_df.columns

['id',
 'ml_number',
 'mls_created_date',
 'mls_updated_date',
 'property_type',
 'list_date',
 'sold_date',
 'list_price',
 'sold_price',
 'address',
 'city_name',
 'county',
 'zip_code',
 'area',
 'latitude',
 'longitude',
 'bedroom_count',
 'bathroom_count',
 'square_foot',
 'lot_size',
 'showing_information',
 'public_comments',
 'remarks',
 'style',
 'view',
 'levels',
 'garage',
 'pool',
 'heating_cooling',
 'elementary_school',
 'junior_high_school',
 'high_school',
 'interior',
 'exterior',
 'other_features',
 'cross_street',
 'unit_number',
 'agent_comments',
 'annual_taxes',
 'apn',
 'architecture',
 'builder',
 'building_condition',
 'building_information',
 'bus_line_nearby',
 'cdom',
 'fireplaces_count',
 'floor_covering',
 'foundation',
 'leased_equipment',
 'legal_description',
 'listing_agent_id',
 'colisting_agent_id',
 'colisting_office_id',
 'parcel_number',
 'lot_details',
 'lot_measurement',
 'lot_number',
 'tax_year',
 'covered_parking',
 'unfinished_sq_foot',
 'virtual_tour_url',
 'water',
 'water_company',
 'waterfront_footage',
 'water_heater_location',
 'water_heater_type',
 'year_built',
 'bank_owned',
 'third_party_approval',
 'association_fees',
 'building_complex',
 'topography',
 'manufacturer',
 'occupant_type',
 'original_price',
 'phone_to_show',
 'possession',
 'power_company',
 'preliminary_title_ordered',
 'roof',
 'school_district',
 'sewer_company',
 'site_features',
 'community_name',
 'selling_agent_number',
 'monthly_rent',
 'community_features',
 'zoning_jurisdiction',
 'zoning_code',
 'pictures',
 'walk_score',
 'transit_score',
 'transit_score_summary',
 'bike_score',
 'bike_score_msg',
 'walk_score_status',
 'bike_score_status',
 'transit_score_status',
 'effective_year_built_source',
 'lot_size_source',
 'map_book',
 'show_map_link_to_public',
 'prohibit_blogging',
 'auction',
 'form_17',
 'terms',
 'sewer',
 'leased_items',
 'net_operating_income',
 'gross_adjusted_income',
 'gross_scheduled_income',
 'total_monthly_income',
 'insurance_expenses',
 'gross_rent_multiplier',
 'total_expenses',
 'vacancy_rate',
 'cap_rate_noi_div_lp',
 'agent_name',
 'energy_source',
 'office_name',
 'office_phone',
 'transit_msg',
 'walk_score_msg',
 'property_features',
 'type_fireplace',
 'list_date_received',
 'number_employees',
 'ef_year_built',
 'year_established',
 'years_current_owner_business',
 'year_value_assessed',
 'multi_family_data',
 'units_in_complex',
 'stories_in_building',
 'units_in_building',
 'net_proceeds',
 'occupancy_percentage',
 'other_expenses',
 'remodeled',
 'real_estate_value',
 'first_refusal',
 'restrictions',
 'special_assessment_amount',
 'section_township',
 'septic_system',
 'sib',
 'special_assessment',
 'total_assessed_value',
 'annual_expenses',
 'total_monthly_rent',
 'total_square_feet_rented',
 'total_number_parking_spaces',
 'turn_over',
 'unit_floor_number',
 'uncovered_spaces',
 'included_rent',
 'improved_assessed_value',
 'land_assessed_value',
 'water_jurisdiction',
 'water_sewer_garbage',
 'zoning_remarks',
 'offers',
 'affiliations',
 'fha_va',
 'additional_finished_rooms',
 'age_restrictions',
 'power_service_amps',
 'foundation_anc',
 'appliance_hookups',
 'appliances_provided',
 'association_contact',
 'assessment_fees',
 'number_available_pads',
 'boundary_survey',
 'bedrooms',
 'boarding_income',
 'barn_size',
 'barn_type',
 'cap_rate',
 'ceiling_height',
 'co_op_y_n',
 'crop_income',
 'column_spacing',
 'cats_dogs',
 'depth_lot',
 'documents_provided',
 'electricity',
 'elevation',
 'electrical_expenses',
 'environment_survey',
 'equity',
 'equipment_included',
 'equipment',
 'equipment_value',
 'easements',
 'expansion_area',
 'total_expenses_exp',
 'free_clear',
 'fence',
 'financing',
 'franchise',
 'farm_type',
 'furnished',
 'gas_available',
 'major_type_business',
 'annual_gross_sales',
 'number_garage_spaces',
 'goodwill_value',
 'general_zoning_classification',
 'heating_expenses',
 'home_owner_dues_include',
 'hours_operation',
 'improvements',
 'move_in_funds_required',
 'inventory_value',
 'irrigation_source',
 'irrigation_type',
 'loading',
 'leased_equipment_leq',
 'licenses',
 'manager_contact_information',
 'labor_industries_inspected',
 'location',
 'lease_income',
 'livestock_type',
 'business_name',
 'number_assigned_spaces',
 'number_carport_spaces',
 'other_rooms',
 'outbuildings',
 'ownership',
 'pad_ready',
 'park_approval_sale',
 'total_covered_parking',
 'parking_type',
 'parking_space_number',
 'total_uncovered_parking',
 'park_name',
 'parlor_size',
 'space_rent_includes',
 'real_property',
 'space_rent_per_month',
 'septic_system_type',
 'storage_size',
 'storage_number',
 'storage_location',
 'storage',
 'number_access_stairs',
 'type_property',
 'window_covering',
 'week_assignment',
 'zip_plus_4',
 'community_number',
 'map_page',
 'x_coordinate',
 'y_coordinate',
 'selling_office_number',
 'publish_to_internet',
 'show_address_to_public',
 'selling_co_agent_number',
 'selling_co_office_number',
 'quarter_bathrooms',
 'street_number_modifier',
 'co_office',
 'approved_accessory_dwelling',
 'bedrooms_lower',
 'bedrooms_main',
 'bedrooms_upper',
 'block',
 'bonus_room_location',
 'den_or_office',
 'dining_room_location',
 'extra_finished_room_location',
 'entrance_level',
 'family_room_location',
 'full_baths_garage',
 'full_baths_lower',
 'full_baths_main',
 'full_baths_total',
 'full_baths_upper',
 'fireplaces_lower',
 'fireplaces_main',
 'fireplaces_upper',
 'half_baths_garage',
 'half_baths_lower',
 'half_baths_main',
 'half_baths_upper',
 'kitchen_eating_space_location',
 'kitchen_location',
 'living_room_location',
 'master_bedroom_level',
 'manufactured_home_model_name',
 'manufactured_home_serial_number',
 'new_construction_nc',
 'project',
 'three_quarter_baths_total',
 'rec_room_location',
 'approved_bedrooms',
 'square_footage_finished',
 'square_footage_source',
 'senior_exemption',
 'three_quarter_baths_garage',
 'three_quarter_baths_lower',
 'three_quarter_main',
 'three_quarter_upper',
 'utility_room_location',
 'basement',
 'waterfront',
 'bus_route_number',
 'environmental_cert',
 'allow_automated_valuation',
 'built_green_certification_rating',
 'hers_index',
 'eps_enery',
 'new_construction',
 'offers_review_date',
 'unit_features',
 'view_comments',
 'acreage_comments',
 'barn_outbuilding_comments',
 'common_features',
 'minimum_rental_terms',
 'park_amenities',
 'survey',
 'terms_remarks',
 'actual_images',
 'downloading_inprogress',
 'yoy_processed_date',
 'contingent_date',
 'inactive_date',
 'status_change_date',
 'pending_date',
 'available_date',
 'created_date',
 'removed_date',
 'processed_matrix_date',
 'matrix_modified_dt',
 'last_upload_date',
 'is_comp',
 'was_flip',
 'previous_sale_ml_number',
 'previous_sale_date',
 'previous_sale_price',
 'fetched_for_cma',
 'cron_id',
 'record_status']

In [48]:
""" converting file into chunks
    every chunk contains 100 rows
    currenlty only lenght of each chunk is printed
    but we can call any function inside the functtion
"""
dup().converting_file_into_chunks(df,100)

99
############
100
############
100
############
100

KeyboardInterrupt:

In [23]:
""" fetch columns containing date time"""
date_list = dfmt().fetch_columns_containing_datetime(df)

In [24]:
date_list

['mls_created_date',
 'mls_updated_date',
 'list_date',
 'sold_date',
 'list_date_received',
 'offers_review_date',
 'yoy_processed_date',
 'contingent_date',
 'inactive_date',
 'status_change_date',
 'pending_date',
 'available_date',
 'created_date',
 'processed_matrix_date',
 'matrix_modified_dt',
 'last_upload_date',
 'previous_sale_date']

In [39]:
""" converting all datetime format in a standard format """
res_df=dfmt().date_cleaning(df[date_list], date_list)
res_df.limit(100).toPandas()

,mls_created_date,mls_updated_date,list_date,sold_date,list_date_received,offers_review_date,yoy_processed_date,contingent_date,inactive_date,status_change_date,...,contingent_date_new,inactive_date_new,status_change_date_new,pending_date_new,available_date_new,created_date_new,processed_matrix_date_new,matrix_modified_dt_new,last_upload_date_new,previous_sale_date_new
0,2009-07-21,2017-01-12 13:58:56,2009-07-21,2010-06-28,2009-07-21 00:00:00,0000-00-00 00:00:00,0000-00-00 00:00:00,1800-01-01 00:00:00,1800-01-01 00:00:00,2010-07-23 14:56:41,...,1800-01-01 00:00:00,1800-01-01 00:00:00,2010-07-23 14:56:41,2010-01-20 00:00:00,1800-01-01 00:00:00,2018-03-12 08:00:23,0000-00-00 00:00:00,2018-03-12 08:00:23,0000-00-00 00:00:00,0000-00-00
1,2009-01-02,NULL,2009-01-02,2010-04-30,NULL,NULL,NULL,1800-01-01 00:00:00,1800-01-01 00:00:00,2010-04-30 00:00:00,...,1800-01-01 00:00:00,1800-01-01 00:00:00,2010-04-30 00:00:00,2010-04-16 00:00:00,NULL,2017-04-10 13:47:42,0000-00-00 00:00:00,2018-07-03 06:23:50,0000-00-00 00:00:00,0000-00-00
2,2009-01-01,2010-01-12 16:09:00,2009-01-01,2010-01-08,NULL,NULL,0000-00-00 00:00:00,1800-01-01 00:00:00,1800-01-01 00:00:00,2010-01-12 00:00:00,...,1800-01-01 00:00:00,1800-01-01 00:00:00,2010-01-12 00:00:00,2009-11-20 00:00:00,1800-01-01 00:00:00,2017-08-06 10:00:59,0000-00-00 00:00:00,2018-07-03 06:23:50,0000-00-00 00:00:00,2009-11-16 00:00:00
3,2009-01-07,2010-04-22 12:21:43,2009-01-07,2010-04-21,NULL,NULL,0000-00-00 00:00:00,1800-01-01 00:00:00,1800-01-01 00:00:00,2010-04-21 00:00:00,...,1800-01-01 00:00:00,1800-01-01 00:00:00,2010-04-21 00:00:00,2010-03-05 00:00:00,1800-01-01 00:00:00,2017-08-06 10:01:30,0000-00-00 00:00:00,2018-07-03 06:23:50,0000-00-00 00:00:00,0000-00-00
4,2009-01-12,2010-02-12 13:55:36,2009-01-12,2009-12-04,NULL,NULL,0000-00-00 00:00:00,1800-01-01 00:00:00,1800-01-01 00:00:00,2010-02-12 00:00:00,...,1800-01-01 00:00:00,1800-01-01 00:00:00,2010-02-12 00:00:00,2009-09-24 00:00:00,1800-01-01 00:00:00,2017-08-06 10:01:48,0000-00-00 00:00:00,2018-07-03 06:23:50,0000-00-00 00:00:00,2009-10-19 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2009-05-31,2010-01-06 16:35:00,2009-05-31,2010-01-06,NULL,NULL,0000-00-00 00:00:00,1800-01-01 00:00:00,1800-01-01 00:00:00,2010-01-06 00:00:00,...,1800-01-01 00:00:00,1800-01-01 00:00:00,2010-01-06 00:00:00,2009-10-26 00:00:00,1800-01-01 00:00:00,2017-08-06 10:01:36,0000-00-00 00:00:00,2018-07-03 06:23:50,0000-00-00 00:00:00,0000-00-00
96,2009-05-29,2010-04-24 12:35:37,2009-05-29,2010-04-23,NULL,NULL,0000-00-00 00:00:00,1800-01-01 00:00:00,1800-01-01 00:00:00,2010-04-24 00:00:00,...,1800-01-01 00:00:00,1800-01-01 00:00:00,2010-04-24 00:00:00,2009-09-16 00:00:00,1800-01-01 00:00:00,2017-08-06 10:01:25,0000-00-00 00:00:00,2018-07-03 06:23:50,0000-00-00 00:00:00,2010-04-23 00:00:00
97,2009-06-02,2010-01-28 20:15:38,2009-06-02,2010-01-28,NULL,NULL,0000-00-00 00:00:00,1800-01-01 00:00:00,1800-01-01 00:00:00,2010-01-28 00:00:00,...,1800-01-01 00:00:00,1800-01-01 00:00:00,2010-01-28 00:00:00,2009-12-23 00:00:00,1800-01-01 00:00:00,2017-08-06 10:01:26,0000-00-00 00:00:00,2018-07-03 06:23:50,0000-00-00 00:00:00,0000-00-00
98,2009-06-01,2010-01-21 08:55:00,2009-06-01,2010-01-19,NULL,NULL,0000-00-00 00:00:00,1800-01-01 00:00:00,1800-01-01 00:00:00,2010-01-21 00:00:00,...,1800-01-01 00:00:00,1800-01-01 00:00:00,2010-01-21 00:00:00,2009-12-04 00:00:00,1800-01-01 00:00:00,2017-08-06 10:02:17,0000-00-00 00:00:00,2018-07-05 13:36:04,0000-00-00 00:00:00,0000-00-00
99,2009-06-03,2010-04-26 15:05:39,2009-06-03,2010-02-12,NULL,NULL,0000-00-00 00:00:00,1800-01-01 00:00:00,1800-01-01 00:00:00,2010-04-26 00:00:00,...,1800-01-01 00:00:00,1800-01-01 00:00:00,2010-04-26 00:00:00,2009-09-04 00:00:00,1800-01-01 00:00:00,2017-08-06 10:00:53,0000-00-00 00:00:00,2018-07-03 06:23:50,0000-00-00 00:00:00,0000-00-00

,mls_created_date,mls_updated_date,mls_created_date_new,mls_updated_date_new
0,2009-07-21,2017-01-12 13:58:56,2009-07-21 00:00:00,2017-01-12 13:58:56
1,2009-01-02,NULL,2009-01-02 00:00:00,NULL
2,2009-01-01,2010-01-12 16:09:00,2009-01-01 00:00:00,2010-01-12 16:09:00
3,2009-01-07,2010-04-22 12:21:43,2009-01-07 00:00:00,2010-04-22 12:21:43
4,2009-01-12,2010-02-12 13:55:36,2009-01-12 00:00:00,2010-02-12 13:55:36
...,...,...,...,...
95,2009-05-31,2010-01-06 16:35:00,2009-05-31 00:00:00,2010-01-06 16:35:00
96,2009-05-29,2010-04-24 12:35:37,2009-05-29 00:00:00,2010-04-24 12:35:37
97,2009-06-02,2010-01-28 20:15:38,2009-06-02 00:00:00,2010-01-28 20:15:38
98,2009-06-01,2010-01-21 08:55:00,2009-06-01 00:00:00,2010-01-21 08:55:00
99,2009-06-03,2010-04-26 15:05:39,2009-06-03 00:00:00,2010-04-26 15:05:39