In [1]:
import os
os.chdir('../')

In [2]:
from lib.readfile import ReadFile as rf
from lib.handle_null_values import handle_null_values as null
from lib.datetime_formatting import DatetimeFormatting as dfmt
from lib.split_time_variable import split_time_variable as split_t
from lib.correct_variable_types import correct_variable_types as vartype

In [3]:
"""Read the file"""

r= rf()
df= r.read(address="lib/data/2009.csv")

In [4]:
"""Remove column with null values"""

n= null()
variables= n.delete_var_with_null_more_than(df)

In [5]:
"""drop unwanted variables for now"""

df2= df.drop(*variables)

In [6]:
"""select important variables""" 


important_variables=['year_built', 'bedroom_count', 'bathroom_count','lot_size', 'area', 'address', 'bike_score', 'city_name', 'community_name', 'covered_parking', 'created_date', 'exterior', 'energy_source','fireplaces_count', 'floor_covering', 'garage','heating_cooling','latitude','longitude', 'property_type', 'roof', 'school_district',  'sewer', 'sold_date', 'sold_price','unfinished_sq_foot', 'topography', 'transit_score', 'was_flip', 'year_built', 'zip_code', 'county' ]

    
important_variables= list(set(important_variables))
df3= df2.select(*important_variables)

In [18]:
"""concatenate all files"""

files= ["09"]
for f_no in range(10, 20):
    files.append(f_no)    
    
    df4= r.read(address="lib/vinod/20"+str(10)+".csv")
    df4= df4.select(*important_variables)
    df3 = df3.union(df4)

In [19]:
"""filter one county from the dataset"""

df5= df3.filter( df3["county"].isin(["King"]))

In [20]:
"""correct time format"""

f= split_t()

#Assuming time variable is in timestamp type
df6= f.run(df5)

In [21]:
"""Correct variable types"""

v= vartype()

df7= v.run(df6)

In [22]:
"""treat duplications"""

'treat duplications'

In [29]:
"""treat null values using deep learning"""

# add an ID in the dataset
from pyspark.sql import functions as F
from pyspark.sql.window import Window as W

windowSpec = W.orderBy(df7.columns[0])
df7= df7.withColumn("id", F.row_number().over(windowSpec))

#use this ID to filter the data and get results.

#save the model for future use.

In [31]:
df7.limit(100).toPandas()

,bathroom_count,created_date,sold_price,floor_covering,garage,school_district,latitude,lot_size,exterior,roof,...,heating_cooling,longitude,sold_date_year,sold_date_month,sold_date_day,sold_datedayofweek,sold_datehour,sold_datemin,sold_datesec,id
0,0.0,2017-08-06 10:01:24,35000.0,None,None,Seattle,47.521659,0,See Remarks,See Remarks,...,None,-122.264260,2010,2,17,4,0,0,0,1
1,0.0,2017-08-06 10:01:25,15000.0,None,None,Issaquah,47.548141,0,Cement Planked,Composition,...,None,-122.003610,2010,4,16,6,0,0,0,2
2,0.0,2017-08-06 08:01:04,15000.0,None,None,Issaquah,47.548141,0,Cement Planked,Composition,...,None,-122.003610,2010,5,14,6,0,0,0,3
3,0.0,2017-08-09 14:01:10,190000.0,See Remarks,Garage-Attached,Snoqualmie Valley,47.454610,91476,Wood,"Built-Up, Composition",...,Other-See Remarks,-121.757287,2010,1,13,4,0,0,0,4
4,0.0,2017-08-09 14:02:29,285000.0,"Ceramic Tile, Hardwood, Wall to Wall Carpet",Garage-Attached,Seattle,47.548587,0,Cement Planked,Composition,...,Radiant,-122.363048,2010,1,29,6,0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.0,None,355000.0,"Ceramic Tile, Vinyl, Wall to Wall Carpet",None,Tukwila,47.472475,5043,"Stone, Wood Products",Torch Down,...,Baseboard,-122.289453,2009,12,2,4,0,0,0,96
96,0.0,None,164500.0,None,None,Seattle,47.607532,4440,None,None,...,None,-122.303771,2009,12,4,6,0,0,0,97
97,0.0,3617,304920.0,None,None,Not Known,47.571089,7200,See Remarks,See Remarks,...,Forced Air,-122.314789,2009,11,30,2,0,0,0,98
98,0.0,None,540000.0,Hardwood,None,Seattle,47.635710,2250,Wood,Composition,...,Forced Air,-122.353886,2009,12,4,6,0,0,0,99
99,0.0,813,336700.0,None,None,Not Known,47.652588,4950,See Remarks,See Remarks,...,Forced Air,-122.367965,2009,12,4,6,0,0,0,100

In [24]:
"""encode categorical variables."""

'encode categorical variables.'

In [25]:
"""split data in to training and testing dataset"""

'split data in to training and testing dataset'

In [26]:
p=df.limit(500).toPandas()

In [27]:
p["ml_number"][1]

29001554