In [1]:
import pandas as pd
import boto3

In [2]:
p= pd.DataFrame([1,2,3])

In [3]:
type(p)==type(p)

True

In [1]:
from pyspark import SparkContext
from pyspark.sql import SparkSession

In [2]:
s= SparkContext.getOrCreate()

In [3]:
sql=SparkSession(s)

In [ ]:
sp_sql= sql.createDataFrame(p)

In [ ]:
# session usinf boto
ID= "AKIAWIYESU4KFN6QZCMD"
key= "t4qeypM14Mh6/Sm2YP8ExvJs5thmR0OJ4zzsS0yU"
session = boto3.Session(
                        aws_access_key_id=ID,
                        aws_secret_access_key=key,
                    )
s3 = session.client('s3')

In [ ]:
hadoop_conf=s._jsc.hadoopConfiguration()
hadoop_conf.set("fs.s3n.impl", "org.apache.hadoop.fs.s3native.NativeS3FileSystem")
hadoop_conf.set("fs.s3n.awsAccessKeyId", ID)
hadoop_conf.set("fs.s3n.awsSecretAccessKey", key)

In [9]:
f1= sql.read.csv("file2.csv", inferSchema = True, header = True)

In [ ]:
f1.write.save("file2.parquet")

In [16]:
f=sql.read.load("file2.parquet")

In [ ]:
sql.read.format("com.crealytics.spark.excel") \
            .option("useHeader", "true") \
            .option("treatEmptyValuesAsNulls", "true") \
            .option("inferSchema", "true") \
            .option("addColorColumns", "False") \
            .load("file3.xlsx")

In [17]:
sql

In [19]:
{}=={"a":"a"}

False

    Status_of_Existing_Checking_Account
0                                  0 DM
1                              0-200 DM
2                   No checking account
3                                  0 DM
4                                  0 DM
..                                  ...
995                 No checking account
996                                0 DM
997                 No checking account
998                                0 DM
999                            0-200 DM

[1000 rows x 1 columns]

In [4]:
import pyspark.sql.functions as funct

f1= sql.read.csv("testing_dup.csv", inferSchema = True, header = True)

In [19]:

f1 = f1.withColumn("url_new",funct.trim(funct.lower(funct.col("url"))))

In [20]:
f1.select(
    '*', 
    *(funct.trim(funct.lower(funct())(target).alias(target+'_new') for target in targets)
)

+---+------------+----------+--------------------+-----------------+--------------------+
|id |duplicate_id|random_col|                 url|duplicate_url_new|             url_new|
+---+------------+----------+--------------------+-----------------+--------------------+
|  1|          1#|       asd|http://www.mltron...|                 |http://www.mltron...|
|  2|         1 #|      asdf|https://www.mltro...|                 |https://www.mltro...|
|  3|         1@,|      sfds|     www.mltrons.com|                 |     www.mltrons.com|
|  4|          1,|        ff|http://www.mltron...|                 |http://www.mltron...|
|  5|           2|        ff|https://www.mltro...|                 |https://www.mltro...|
|  6|           3|      fsdd|www.mltrons.com/t...|                 |www.mltrons.com/t...|
|  7|           3|      fsdd|www.mltrons.com/t...|                 |www.mltrons.com/t...|
+---+------------+----------+--------------------+-----------------+--------------------+

In [5]:
f1.columns

['id ', 'duplicate_id', 'random_col', 'url']

In [13]:
f1 = f1.select(
    *[funct.regexp_replace(funct.trim(funct.lower(funct.col(str(col_name)))), "[^A-Z0-9_]", "").name(col_name+'_new') for col_name in ['id ', 'duplicate_id']]
)

AnalysisException: "cannot resolve '`id `' given input columns: [id _new, duplicate_id_new];;\n'Project [regexp_replace(trim(lower('id ), None), [^A-Z0-9_], ) AS id _new#37, regexp_replace(trim(lower('duplicate_id), None), [^A-Z0-9_], ) AS duplicate_id_new#38]\n+- Project [trim(lower(cast(id #10 as string)), None) AS id _new#22, trim(lower(duplicate_id#11), None) AS duplicate_id_new#23]\n   +- Relation[id #10,duplicate_id#11,random_col#12,url#13] csv\n"

In [9]:
f1.show()

+-------+----------------+
|id _new|duplicate_id_new|
+-------+----------------+
|      1|              1#|
|      2|             1 #|
|      3|             1@,|
|      4|              1,|
|      5|               2|
|      6|               3|
|      7|               3|
+-------+----------------+