In [1]:
import pandas as pd
import boto3

In [2]:
p= pd.DataFrame([1,2,3])

In [3]:
type(p)==type(p)

True

In [4]:
from pyspark import SparkContext
from pyspark.sql import SparkSession

In [5]:
s= SparkContext.getOrCreate()

In [8]:
sql=SparkSession(s)

In [ ]:
sp_sql= sql.createDataFrame(p)

In [ ]:
# session usinf boto
ID= "AKIAWIYESU4KFN6QZCMD"
key= "t4qeypM14Mh6/Sm2YP8ExvJs5thmR0OJ4zzsS0yU"
session = boto3.Session(
                        aws_access_key_id=ID,
                        aws_secret_access_key=key,
                    )
s3 = session.client('s3')

In [ ]:
hadoop_conf=s._jsc.hadoopConfiguration()
hadoop_conf.set("fs.s3n.impl", "org.apache.hadoop.fs.s3native.NativeS3FileSystem")
hadoop_conf.set("fs.s3n.awsAccessKeyId", ID)
hadoop_conf.set("fs.s3n.awsSecretAccessKey", key)

In [9]:
f1= sql.read.csv("file2.csv", inferSchema = True, header = True)

In [ ]:
f1.write.save("file2.parquet")

In [16]:
f=sql.read.load("file2.parquet")

In [ ]:
sql.read.format("com.crealytics.spark.excel") \
            .option("useHeader", "true") \
            .option("treatEmptyValuesAsNulls", "true") \
            .option("inferSchema", "true") \
            .option("addColorColumns", "False") \
            .load("file3.xlsx")

In [17]:
sql

In [19]:
{}=={"a":"a"}

False

    Status_of_Existing_Checking_Account
0                                  0 DM
1                              0-200 DM
2                   No checking account
3                                  0 DM
4                                  0 DM
..                                  ...
995                 No checking account
996                                0 DM
997                 No checking account
998                                0 DM
999                            0-200 DM

[1000 rows x 1 columns]

In [42]:
import pyspark.sql.functions as funct

f1= sql.read.csv("testing_dup.csv", inferSchema = True, header = True)

In [43]:

f1 = f1.withColumn("duplicate_id_new",funct.regexp_replace(funct.trim(funct.lower(funct.col("duplicate_id"))),"[^A-Z0-9_]", ""))

In [44]:
f1.show()

+---+------------+----------+----------------+
|id |duplicate_id|random_col|duplicate_id_new|
+---+------------+----------+----------------+
|  1|          1#|       asd|               1|
|  2|         1 #|      asdf|               1|
|  3|         1@,|      sfds|               1|
|  4|          1,|        ff|               1|
|  5|           2|        ff|               2|
|  6|           3|      fsdd|               3|
|  7|           3|      fsdd|               3|
+---+------------+----------+----------------+